
@mixin full-width($value: block) {
  display: $value;
  width: 100%;
}

@mixin font($fontSize, $lineHeight, $color, $fontWight) {
  font: {
    size: $fontSize;
    weight: $fontWight;
  }

  line-height: $lineHeight;
  color: $color;
}

@mixin square($size: 16px) {
  width: $size;
  height: $size;
}
