
$fontGlobal: 'Exo 2', sans-serif;

$H_color: $primary;

$H1_fontSize:          56px;
$H1_lineHeight:        68px;

$H2_fontSize:          72px;
$H2_lineHeight:        88px;

$H1_fontSize_tablet:   48px;
$H1_lineHeight_tablet: 56px;

$H2_fontSize_tablet:   48px;
$H2_lineHeight_tablet: 56px;

$H1_fontSize_mobile:   30px;
$H1_lineHeight_mobile: 42px;

$H2_fontSize_mobile:   30px;
$H2_lineHeight_mobile: 42px;
