
.tag {
  @include font(14px, 20px, $primary, 400);

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  height: 24px;
  padding: 0 10px;
  background: $gray;
  white-space: nowrap;
  border-radius: 24px;

  &--blue {
    color: $blue;
    background: $blue10;
  }

  &--numeric {
    height: 20px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 16px;
    background: $grayLight;
  }

  &--button {
    background: $white;
    border: 1px solid $gray;
    cursor: pointer;
  }
}
